@using Microsoft.Ajax.Utilities
@model HultonHotels.ViewModels.RegistrationViewModel
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

@using (Html.BeginForm())
{
    <!--BEGIN HIDDEN FIELD AREA-->
    @Html.HiddenFor(m => m.EventArgument)
    @Html.HiddenFor(m => m.EventCommand)
    @Html.HiddenFor(m => m.PrevEventArgument)
    @Html.HiddenFor(m => m.PrevEntity)
    <!--END HIDDEN FIELD AREA-->

    <!--BEGIN SEARCH AREA-->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Search for Customers</h1>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Label("Search")
                @Html.TextBoxFor(m => m.SearchEntity.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="panel-footer">
            <button id="btnSearch" class="btn btn-sm btn-primary" data-pdsa-action="search">
                <i class="glyphicon glyphicon-share-alt"></i>
                &nbsp;Search
            </button>
            <button id="btnReset" class="btn btn-sm btn-primary" data-pdsa-action="resetsearch">
                <i class="glyphicon glyphicon-share-alt"></i>
                &nbsp;Reset
            </button>
        </div>
    </div>
    <!--END SEARCH AREA-->

    <!--BEGIN INPUT AREA-->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Customer Information</h1>
        </div>
        <div class="panel-body">

            <!--BEGIN MESSAGE AREA-->
            <div class="row">
                <div class="col-sm-12">
                    <!--VALIDATION-->
                </div>
            </div>
            <!--END MESSAGE AREA-->

            <div class="form-group">
                @Html.Label("Name")
                @Html.TextBoxFor(m => m.Entity.Name, new {@class="form-control"})
            </div>
            <div class="form-group">
                @Html.Label("Email")
                @Html.TextBoxFor(m => m.Entity.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("Address")
                @Html.TextBoxFor(m => m.Entity.Address, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("Phone Number")
                @Html.TextBoxFor(m => m.Entity.PhoneNo, new { @class = "form-control", type="number" })
            </div>
            <div>
                <!--HIDDEN ITEMS-->
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-12">
                    <button id="btnSave" class="btn btn-sm btn-primary" data-pdsa-action="save"
                            data-pdsa-val-2="@Model.PrevEventArgument">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        &nbsp;Save
                    </button>
                    <button id="btnCancel" class="btn btn-sm btn-primary" data-pdsa-action="cancel"
                            formnovalidate="formnovalidate">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                        &nbsp;Cancel
                    </button>

                </div>
            </div>
        </div>
    </div>
    <!--END INPUT AREA-->
}

@section scripts {
    <script>

        $(document).ready(function() {
            $("[data-pdsa-action]").on("click",
                function(e) {
                    e.preventDefault();
                    debugger;
                    $("#EventCommand").val($(this).data("pdsa-action"));
                    $("#EventArgument").val($(this).data("pdsa-val"));
                    $("#PrevEventArgument").val($(this).data("pdsa-val-2"));
                    $("form").submit();

                });
        });
    </script>
}


