
@using HultonHotels.Utilities
@model HultonHotels.ViewModels.ReservationViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{

    <!--BEGIN HIDDEN FIELD AREA-->
    @Html.HiddenFor(m => m.EventArgument)
    @Html.HiddenFor(m => m.EventCommand)
    @Html.HiddenFor(m => m.PrevEventArgument)
    @Html.HiddenFor(m => m.PrevEntity)
    @Html.HiddenFor(m => m.CurrentUserId)
    @Html.HiddenFor(m => m.Mode)


    <!--END HIDDEN FIELD AREA-->

    <div class="form-group">
        @Html.TextBoxFor(m => m.SearchEntity.Email, new { @class = "form-control" })
        <button id="btnSearch" class="btn btn-sm btn-primary" data-pdsa-action="login">
            <i class="glyphicon glyphicon-share-alt"></i>
            &nbsp;Login
        </button>
    </div>


    if (Model.IsSearchAreaVisible)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Search for Available Reservations</h1>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.SearchEntity.HotelAddress, "Search by Address")
                    @Html.TextBoxFor(m => m.SearchEntity.HotelAddress, new { @class = "form-control" })
                </div>
            </div>
            <div class="panel-footer">
                <button id="btnSearch" class="btn btn-sm btn-primary" data-pdsa-action="search">
                    <i class="glyphicon glyphicon-share-alt"></i>
                    &nbsp;Search
                </button>
                <button id="btnReset" class="btn btn-sm btn-primary" data-pdsa-action="resetsearch">
                    <i class="glyphicon glyphicon-share-alt"></i>
                    &nbsp;Reset
                </button>
            </div>
        </div>
    }

    <!--BEGIN DETAIL AREA-->
    if (Model.IsDetailAreaVisible)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Key Information</h1>
            </div>


            @if (Model.Mode == "select")
            {

                <div class="panel-body">

                    <!--BEGIN MESSAGE AREA-->
                    <div class="row">
                        <div class="col-sm-12">
                            @if (!Model.IsValid)
                            {
                                <div class="alert alert-danger alert-dismissable" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span aria-hidden="true">&times</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    @Html.ValidationSummary(false)
                                </div>
                            }
                        </div>
                    </div>
                    <!--END MESSAGE AREA-->

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.HotelAddress, "Hotel Address")
                                @Html.TextBoxFor(m => m.Entity.HotelAddress, new { @class = "form-control", disabled = "disabled" })
                                @Html.HiddenFor(m => m.Entity.HotelAddress)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.RoomNo, "Room Number")
                                @Html.TextBoxFor(m => m.Entity.RoomNo, new { @class = "form-control", disabled = "disabled" })
                                @Html.HiddenFor(m => m.Entity.RoomNo)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.Price, "Price Per Night")
                                @Html.TextBoxFor(m => m.Entity.Price, new { @class = "form-control", disabled = "disabled" })
                                @Html.HiddenFor(m => m.Entity.Price)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.Capacity, "Capacity")
                                @Html.TextBoxFor(m => m.Entity.Capacity, new { @class = "form-control", disabled = "disabled" })
                                @Html.HiddenFor(m => m.Entity.Capacity)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.ReservationReservesRoom.InDate, "Check In")
                                @Html.TextBoxFor(m => m.Entity.ReservationReservesRoom.InDate, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.ReservationReservesRoom.NumberOfDays, "Number Of Days")
                                @Html.TextBoxFor(m => m.Entity.ReservationReservesRoom.NumberOfDays, new { @class = "form-control" })
                            </div>

                            <div>
                                @Html.HiddenFor(m => m.Entity.HotelId)
                                @Html.HiddenFor(m => m.Entity.CustomerId)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.BreakfastItems, "Breakfast Options")
                                @Html.DropDownListFor(m => m.Entity.BreakfastChoice, Model.Entity.BreakfastItems, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.ServiceItems, "Service Options")
                                @Html.DropDownListFor(m => m.Entity.ServiceChoice, Model.Entity.ServiceItems, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.CreditCard.CreditCardId, "Credit Card Number")
                                @Html.TextBoxFor(m => m.Entity.CreditCard.CreditCardId, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.CreditCard.SecurityCode, "Security Code")
                                @Html.TextBoxFor(m => m.Entity.CreditCard.SecurityCode, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.CreditCard.Type, "Type")
                                @Html.TextBoxFor(m => m.Entity.CreditCard.Type, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.CreditCard.NameOnCard, "Name On Card")
                                @Html.TextBoxFor(m => m.Entity.CreditCard.NameOnCard, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.CreditCard.ExpDate, "Expiration")
                                @Html.TextBoxFor(m => m.Entity.CreditCard.ExpDate, new { @class = "form-control" })
                            </div>

                        </div>

                    </div>
                </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <button id="btnSave" class="btn btn-sm btn-primary" data-pdsa-action="save"
                                        data-pdsa-val-2="@Model.PrevEventArgument">
                                    <i class="glyphicon glyphicon-floppy-disk"></i>
                                    &nbsp;Save
                                </button>
                                <button id="btnCancel" class="btn btn-sm btn-primary" data-pdsa-action="cancel"
                                        formnovalidate="formnovalidate">
                                    <i class="glyphicon glyphicon-remove-circle"></i>
                                    &nbsp;Cancel
                                </button>

                            </div>
                        </div>
                    </div>
            }
            else
            {
                <div class="panel-body">

                    <!--BEGIN MESSAGE AREA-->
                    <div class="row">
                        <div class="col-sm-12">
                            @if (!Model.IsValid)
                            {
                                <div class="alert alert-danger alert-dismissable" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span aria-hidden="true">&times</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    @Html.ValidationSummary(false)
                                </div>
                            }
                        </div>
                    </div>
                    <!--END MESSAGE AREA-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.HotelAddress, "Hotel Address")
                                @Html.TextBoxFor(m => m.Entity.HotelAddress, new { @class = "form-control", disabled = "disabled" })
                                @Html.HiddenFor(m => m.Entity.HotelAddress)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.RoomNo, "Room Number")
                                @Html.TextBoxFor(m => m.Entity.RoomNo, new { @class = "form-control", disabled = "disabled" })
                                @Html.HiddenFor(m => m.Entity.RoomNo)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.Price, "Price Per Night")
                                @Html.TextBoxFor(m => m.Entity.Price, new { @class = "form-control", disabled = "disabled" })
                                @Html.HiddenFor(m => m.Entity.Price)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.Capacity, "Capacity")
                                @Html.TextBoxFor(m => m.Entity.Capacity, new { @class = "form-control", disabled = "disabled" })
                                @Html.HiddenFor(m => m.Entity.Capacity)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.ReservationReservesRoom.InDate, "Check In")
                                @Html.TextBoxFor(m => m.Entity.ReservationReservesRoom.InDate, new { @class = "form-control", disabled = "disabled" })
                                
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.ReservationReservesRoom.NumberOfDays, "Number Of Days")
                                @Html.TextBoxFor(m => m.Entity.ReservationReservesRoom.NumberOfDays, new { @class = "form-control", disabled = "disabled" })
                            </div>

                            <div>
                                @Html.HiddenFor(m => m.Entity.HotelId)
                                @Html.HiddenFor(m => m.Entity.CustomerId)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.BreakfastItems, "Breakfast Options")
                                @Html.DropDownListFor(m => m.Entity.BreakfastChoice, Model.Entity.BreakfastItems, new { @class = "form-control", disabled = "disabled" })
                                @Html.HiddenFor(m => m.Entity.BreakfastChoice)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.ServiceItems, "Service Options")
                                @Html.DropDownListFor(m => m.Entity.ServiceChoice, Model.Entity.ServiceItems, new { @class = "form-control", disabled = "disabled" })
                                @Html.HiddenFor(m => m.Entity.ServiceChoice)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.CreditCard.CreditCardId, "Credit Card Number")
                                @Html.TextBoxFor(m => m.Entity.CreditCard.CreditCardId, new { @class = "form-control", disabled = "disabled" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.CreditCard.SecurityCode, "Security Code")
                                @Html.TextBoxFor(m => m.Entity.CreditCard.SecurityCode, new { @class = "form-control", disabled = "disabled" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.CreditCard.Type, "Type")
                                @Html.TextBoxFor(m => m.Entity.CreditCard.Type, new { @class = "form-control", disabled = "disabled" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.CreditCard.NameOnCard, "Name On Card")
                                @Html.TextBoxFor(m => m.Entity.CreditCard.NameOnCard, new { @class = "form-control", disabled = "disabled" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.CreditCard.ExpDate, "Expiration")
                                @Html.TextBoxFor(m => m.Entity.CreditCard.ExpDate, new { @class = "form-control", disabled = "disabled" })
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.Review.ReviewId, "Specify what type of review you are leaving:")
                                @Html.DropDownListFor(m => m.Entity.ReviewChoice, Model.Entity.ReviewItems, new {@class="form-control"})
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.Review.Rating, "Rate your stay:")
                                @Html.TextBoxFor(m => m.Entity.Review.Rating, new {@class = "form-control"})
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Entity.Review.Comment, "Write a review below:")
                                @Html.TextAreaFor(m => m.Entity.Review.Comment, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <button id="btnReview" class="btn btn-sm btn-primary" data-pdsa-action="review"
                                        data-pdsa-val="@Model.EventArgument"
                                        data-pdsa-val-2="@Model.PrevEventArgument">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    &nbsp;Submit Review
                                </button>
                                <button id="btnCancel" class="btn btn-sm btn-primary" data-pdsa-action="cancel"
                                        formnovalidate="formnovalidate">
                                    <i class="glyphicon glyphicon-remove-circle"></i>
                                    &nbsp;Back
                                </button>

                            </div>
                        </div>
                    </div>
            }
        </div>
    }

    <!--BEGIN MY RESERVATIONS AREA-->
    if (Model.IsMyReservationsAreaVisible)
    {
        <div class="bold">
            @Html.Label("My Reservations")
        </div>
        <div class="table-respnosive">
            <table class="table table-condensed table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>View</th>
                        <th>Hotel Address</th>
                        <th>Room Number</th>
                        <th>Price Per Night</th>
                        <th>Capacity</th>
                        <th class="pdsa-action-button-column">Cancel</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MyItems)
                    {

                        <tr>
                            <td class="pdsa-action-button-column">
                                <a href="#" class="btn btn-default btn-sm" data-pdsa-action="view"
                                   data-pdsa-val="@item.HotelId"
                                   data-pdsa-val-2="@item.RoomNo">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>
                            </td>
                            <td>@item.HotelAddress</td>
                            <td>@item.RoomNo</td>
                            <td>@item.Price </td>
                            <td>@item.Capacity</td>
                            <td class="pdsa-action-button-column">
                                <a href="#" class="btn btn-default btn-sm" data-pdsa-action="delete"
                                   data-pdsa-val="@item.HotelId"
                                   data-pdsa-val-2="@item.RoomNo"
                                   onclick="confirmation();">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <!--END MY RESERVATIONS AREA-->

    <!--BEGIN LIST AREA-->
    if (Model.IsListAreaVisible)
    {
        <div class="bold">
            @Html.Label("Available For Reservation")
        </div>
        <div class="table-respnosive">
            <table class="table table-condensed table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="pdsa-action-button-column">View Options</th>
                        <th>Hotel Address</th>
                        <th>Room Number</th>
                        <th>Price</th>
                        <th>Capacity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {

                        <tr>
                            <td class="pdsa-action-button-column">
                                <a href="#" class="btn btn-default btn-sm" data-pdsa-action="select"
                                   data-pdsa-val="@item.HotelId"
                                   data-pdsa-val-2="@item.RoomNo">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                            </td>
                            <td>@item.HotelAddress</td>
                            <td>@item.RoomNo</td>
                            <td>@item.Price </td>
                            <td>@item.Capacity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <!--END LIST AREA-->

    <!--BEGIN PAGINATION AREA-->
    if (Model.TotalPages > 0)
    {
        <div>
            <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination">
                    @for (var i = 0; i < Model.Pagination.Count; i++)
                    {
                        switch (Model.Pagination[i])
                        {
                            case PaginationHelper.Ellipse:
                                 <!--INSERT ELLIPSE BUTTON-->
                                <li>
                                    <a href="#">...</a>
                                </li>
                                break;
                            case PaginationHelper.Next:
                                 <!--INSERT NEXT BUTTON-->
                                <li data-pdsa-action="list" data-pdsa-val="@(Model.CurrentPage + 1)">
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                break;
                            case PaginationHelper.Previous:
                                 <!--INSERT PREVIOUS BUTTON-->
                                <li data-pdsa-action="list" data-pdsa-val="@(Model.CurrentPage - 1)">
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                break;
                            default:
                                 <!--INSERT NUMBER BUTTON-->
                                <li class="@(Model.CurrentPage == Model.Pagination[i] ? "active" : "")" data-pdsa-action="list" data-pdsa-val="@Model.Pagination[i]">
                                    <a href="#">@(Model.Pagination[i] + 1)</a>
                                </li>
                                break;
                        }
                    }
                </ul>
            </nav>
        </div>
    }
    <!--END PAGINATION AREA-->
}

@section scripts {
    <script>

        $(document).ready(function () {
            $("[data-pdsa-action]").on("click",
                function (e) {
                    e.preventDefault();
                    debugger;
                    $("#EventCommand").val($(this).data("pdsa-action"));
                    $("#EventArgument").val($(this).data("pdsa-val"));
                    $("#PrevEventArgument").val($(this).data("pdsa-val-2"));
                    $("form").submit();

                });
        });

        function confirmation() {
            var answer = confirm("Cancel this reservation?");
            if (!answer) {
                $("#ByPass").val("BYPASS");
            }
        }
    </script>
}